__pycache__/
.DS_Store
*.npy
.mcool
.cool
.pairs
result.npy
test_output/
test_output2/
test_output3/
save/
supercell/
result_csv/
figures/
benchmark/
*.h5ad
*.csv
.py
config/
loop_pipeline/
cycle_result_csv/
*.pdf
*.sh
*.cool
*.R
*.r
Ablation/
config/
stark-6-3/
fig3_gene/
old_stark/
schic2_mm9/
snm3c_result_csv/
cycle_h5ad/
cycle_result_csv/
snm3c_result_csv/
mustache_cycle_loops/